<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About GDG Garage</h2>
                    <h3 class="section-subheading text-muted">
                      <p>
                        Hands-on means that there is no speaker. People come and work together in small groups — on whatever they feel like. Hyperlocal means it’s a neighborhood thing. If you need to travel to a GDG Garage for more than 15 minutes, you are doing it wrong, and you should create your own. Regular means it happens bi-weekly or more often.

                        Think of GDG Garage as a D&D session, but instead of dice and sheets of paper, you have laptops and code.

                        Or think of it as a local gym, but instead of excercising muscles, you excercise your coding skills.
                      </p>
                    </h3>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12">
                    <h4 class="service-heading">Fantastic 4 principles</h4>
                    <p class="text-muted">There are four principles of GDG Garage. We believe that by agreeing on these simple propositions, the Garagists are able to have a much better time together.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">1. Nobody is perfect</h4>
                    <p class="text-muted">It’s okay to ask for a code review or for help when you’re stuck.</br>It’s not okay to mock someone for not knowing something.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">2. Try something new</h4>
                    <p class="text-muted">Get out of your comfort zone. Are you a JavaScript guru? Are you a backend guy? Here’s a couple of UX components.</br>It’s easy to dissrespect another programming language or development approach. It’s much more difficult (and useful) to actually learn something about it.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">3. Work in small groups</h4>
                    <p class="text-muted">Don’t work alone (you don’t need a GDG Garage for that).</br>Don’t work in larger groups (5+ people) — it’s not effective.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">4. Share your knowledge</h4>
                    <p class="text-muted">Helping someone with their problem usually means you get to improve your own skills.</br>A little help today can lead to a huge collaboration in the future.</p>
                </div>



            </div>
        </div>
    </section>