<!-- Services Section -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Frequently Asked Questions (FAQ)</h2>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12">
                    <h4 class="service-heading">Why does it exist?</h4>
                    <p class="text-muted">Why would anyone want to go to (or create) a GDG Garage? There are many reasons:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <ul class="text-muted">
                    <li>
                      “My current employer/school doesn’t challenge/stimulate me enough.”
                    </li>
                    <li>
                      “I want to get feedback on my personal project from fellow developers.”
                    </li>
                    <li>
                      “I want to learn from others.”
                    </li>
                    <li>
                      “Coding alone is half as fun.”
                    </li>
                    <li>
                      “Code reviews make my software better.”
                    </li>
                    <li>
                      “I’ve been working alone for a while and I think I’m going crazy.”
                    </li>
                    <li>
                      “I’d like to make like-minded friends.”
                    </li>
                    <li>
                      “I just want to code.”
                    </li>
                  </ul>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12">
                    <p class="text-muted">But why does it exist, you ask? It is to make the developer community more connected and friendlier.</p>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12">
                    <h4 class="service-heading">How is this different from hackerspace, makerspace etc.?</h4>
                    <p class="text-muted">There are many similar concepts out there, so maybe it makes sense to also define GDG Garage by what it’s not.</p>
                </div>
            </div>
            <div class="row text-justify">
              <div class="col-md-12">
                    <p class="text-muted">
                      GDG Garage is similar, but not synonymous to a hackerspace. “A hackerspace is a community-operated workspace where people with common interests, often in computers, technology, science, digital art or electronic art, can meet, socialize and/or collaborate” <a href="http://en.wikipedia.org/wiki/Hackerspace">(Wikipedia)</a>. GDG Garage is often not a physical workspace – it’s mostly just happening once every two weeks, and it can be set up at different places each time. It can be set up in someone’s garage or at the public library. The common interest is software development, and the emphasis is on trying out new things. No GDG Garage should be just about meeting or socializing. Also, no one in a GDG Garage should be working solely on his or her stuff alone.
                    </p>
                    <p class="text-muted">
                      GDG Garage is not a hacker dojo. Hacker dojos (and similar co-working places) are operated for profit, open every day, and mostly invite also non-programmers.
                    </p>
                    <p class="text-muted">
                      GDG Garages are not only for students, not by a long shot. Developers that are already employed benefit from the format at least as much as students.
                    </p>
                    <p class="text-muted">
                      GDG Garage is not a regular GDG meetup, because it’s more hands-on. There are no talks scheduled. For the organizer, it’s a matter of securing a place, inviting people, and making sure everyone knows what GDG Garage is about.
                    </p>
                </div>
            </div>















        </div>
    </section>